

  summary::marker {
  content: "" !important;
}

details > summary::-webkit-details-marker {
  display: none !important;
}

   .forms-text {
  font: 12px/15px "Karla";
  color: #333;
  min-height: 150px;
  height:fit-content;
  text-align: justify;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  padding: 0px 0px;
  max-width: 430px;
}


   .equip-text {
  font: 12px/15px "Karla";
  color: #333;
  min-height: 300px;
  height:fit-content;
  text-align: justify;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  padding: 0px 15px;
margin-top:-20px;
padding-bottom:10px;
  max-width: 430px;
}


   .my-text {
  font: 12px/15px "Karla";
  color: #333;
  min-height:100px;  
  max-height:400px;  
overflow-y: auto;
  scrollbar-color: #076076;
  scrollbar-width: thin;
  text-align: justify;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  padding: 0px 15px;
  max-width: 430px;
  padding-top:-20px;
}

.my-ans {
  border: 1px solid #d8d8d8;
  height: auto;
min-height:150px;
  border-top-width: 4px;
  width: 430px;
  padding: 0px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: -4px;
}


  .form-name {
background-color:#222;color:#f8f8f8; 
border:1px solid #000;
text-align:left;
margin-bottom:-1px;
margin-top:10px; 
padding:8px; 
font: 22px "Karla";
font-weight:bold; 
margin-bottom:0px;
text-align:center;
cursor: pointer;
}

  
 .form-header {
max-width:100%; height:fit-content; background-color:#222;color:#f8f8f8; position: relative; float: left; border:1px solid #000;border-radius:24px 24px 24px 24px;text-align:left;margin-right:-10px;margin-top:-16px; padding:4px; padding-left:10px;padding-right:10px; text-transform: uppercase;font-size: 14px; font-weight:bold;
}

 .form-abilities{
background-color:#222;
color:#f8f8f8; 
width:fit-content;
border:1px solid #000;
border-radius:24px 24px 24px 24px;
margin-bottom:10px;
margin-top:10px; 
padding:6px; 
padding-left:10px;
padding-right:10px; 
text-transform: uppercase;
font-size: 14px; 
font-weight:bold ; 
text-align:center ;
}


 .link-abilities{
background-color:#222;
color:#f8f8f8; 
width:fit-content;
border:1px solid #000;
border-radius:24px 24px 24px 24px;
margin-bottom:10px;
margin-top:20px; 
padding:6px; 
padding-left:10px;
padding-right:10px; 
text-transform: uppercase;
font-size: 14px; 
font-weight:bold ; 
text-align:center ;
}



    .form-flavor{
   text-align:left;
padding:10px;
font: 12px/15px "Karla";
text-align:center;
margin-bottom:20px;
  }

    .form-boost {
   text-align:left; padding:4px; padding:10px;padding-top:20px;padding-bottom:15px; border:1px solid #000;font: 12px/15px "Karla";margin-bottom:25px;
  }

    .link-boost {
   text-align:left; padding:4px; padding:10px;padding-top:20px;padding-bottom:10px; border:1px solid #000;font: 12px/15px "Karla";margin-bottom:15px;
  }

     .form-support {
width: fit-content; height:fit-content; border:1px solid #000;text-align:left; padding:10px;padding-top:20px;font: 12px/15px "Karla"; margin-bottom: 10px; justify-content: space-between;padding-top:20px;
  }
  



    .rank-float {
background-color:#222;
    border: 3px solid #076076;
    border-radius: 12px;
    box-shadow: 1px 1px 1px black;
    color: white;
    font: 16px
    height: 16px; 
    min-width: 14px;
    padding: 4px;
 text-align: center; 
position:relative;
float:right;
margin-top:-5px;
margin-right:-5px;
font-weight:bold;



  }
  

    .form-container {
  font: 12px/15px "Karla";
  color: #333;
  height: fit-content;
  overflow: auto;
  text-align: justify;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  padding: 0 15px;
  padding-top:0px;
  max-width: 440px;
margin-bottom:1px;
}

  .weap-name {
height:fit-content; 
background-color:#222; 
color:#f8f8f8; 
font-weight:bold; 
border:1px solid #222;
border-radius:8px 8px 0px 0px;
text-align:left;margin-bottom:-1px;margin-top:10px; padding:4px; padding-left:10px;padding-right:10px; padding-top:8px; padding-bottom:8px; text-transform: uppercase;font-size: 18px;  font:"Karla";
}

  .inv-name {
height:fit-content; 
background-color:#222; 
color:#f8f8f8; 
font-weight:bold; 
border:1px solid #222;
border-radius:8px 8px 0px 0px;
text-align:left;margin-bottom:-1px;margin-top:10px; padding:4px; padding-left:10px;padding-right:10px; padding-top:8px; padding-bottom:8px; text-transform: uppercase;font-size: 18px;  font:"Karla";
}
  
      .weap-bar {
background-color:#d8d8d8;font-weight:bold; height:fit-content; position: ;border:1px solid #222;border-radius:0px 0px 0px 0px;text-align:center; margin-right: 0px; padding:4px; padding-right:8px;padding-left:8px;font-size: 14px; margin-bottom: 0px; justify-content: space-between; font: 12px/15px "Karla";font-weight:bold; 
  }
  
    .pwr-float {
 max-width:20%; width:fit-content; height:fit-content; background-color:#222;color:#f8f8f8; position: relative; float: right; font-weight:bold; border:1px solid #000;border-radius:24px 24px 24px 24px;text-align:left;margin-right:4px;margin-top:-12px; padding:4px; padding-left:10px;padding-right:10px; text-transform: uppercase;font-size: 11px; font-weight:bold;
  }
  
      .mag-float {
 max-width:20%; width:fit-content; height:fit-content; background-color:#222;color:#f8f8f8; position: relative; float: right; font-weight:bold; border:1px solid #000;border-radius:24px 24px 24px 24px;text-align:left;margin-right:4px;margin-top:-12px; padding:4px; padding-left:10px;padding-right:10px; text-transform: uppercase;font-size: 11px; font-weight:bold;
  }
  
        .dmg-float {
 max-width:20%; width:fit-content; height:fit-content; background-color:#222;color:#f8f8f8; position: relative; float: right; font-weight:bold; border:1px solid #000;border-radius:24px 24px 24px 24px;text-align:left;margin-right:0px;margin-top:-12px; padding:4px; padding-left:10px;padding-right:10px; font-size: 11px; font-weight:bold;
  }



  .dmg-test {
 max-width:20%; width:fit-content; height:fit-content; background-color:#222;color:#f8f8f8; position: relative; float: right; font-weight:bold; border:1px solid #000;border-radius:24px 24px 24px 24px;text-align:left;margin-right:0px;margin-top:-16px; padding:4px; padding-left:10px;padding-right:10px; text-transform: uppercase;font-size: 9px; font-weight:bold;
}
  
  .weap-shell{
  font: 12px/15px "Karla";
  color: #333;
  height: fit-content;
  overflow: auto;
  text-align: justify;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  max-width: 430px;
  }

  .weap-text {
  border-radius:8px 0px 8px 0px;text-align:left; margin:0px; margin-left:0px; margin-top:-1px; padding:10px; padding-left:18px;padding-right:10px; padding-bottom:16px; border:1px solid #000;border-radius:0px 0px 0px 8px; font: 12px/15px "Karla";
  }

  .inv-text {
  border-radius:8px 0px 8px 0px;text-align:left; margin:0px; margin-left:0px; margin-top:-1px; padding:10px; padding-left:18px;padding-right:10px; padding-bottom:16px; border:1px solid #000;border-radius:0px 0px 8px 8px; font: 12px/15px "Karla";
  }
  
   .aug-text {
  width:250px; border-radius:8px 0px 8px 0px;text-align:left; margin-top:20px; margin-left:20px; padding:4px; padding-left:18px;padding-right:10px; padding-top:20px; padding-bottom:10px; border-radius:8px 8px 8px 8px; border:1px solid #000;
  }

    .aug-title {
 max-width:60%; width:fit-content; height:fit-content; background-color:#222;color:#f8f8f8; font-weight:bold; border:1px solid #000;border-radius:8px 8px 0px 0px;text-align:left;margin-right:4px;margin-top:10px; padding:4px; padding-left:10px;padding-right:10px; text-transform: uppercase;font-size: 11px; font-weight:bold;
  }

    .aug-float {
width:fit-content; height:fit-content; background-color:#076076;color:#ffffff; position: relative; float: left; font-weight:bold; border:1px solid #000;border-radius:24px 24px 24px 24px;text-align:left;margin-right:4px;margin-top:-12px; padding:4px; padding-left:10px;padding-right:10px; text-transform: uppercase;font-size: 11px; font-weight:bold;
cursor: pointer;
  }
 
    .weap-container {
  font: 12px/15px "Karla";
  color: #333;
  height: fit-content;
  overflow: auto;
  text-align: justify;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  max-width: 430px;
  }
  
   

  .abl-name {
 max-width:70%; width:fit-content; background-color:#222;color:#f8f8f8; border:1px solid #000;text-align:left;
margin-bottom:-1px;
padding:2px; 
padding-left:14px;
padding-right:14px;
font: 15px "Karla";
font-weight:bold; 
border-radius:8px 8px 0px 0px;
}

  .abl-name::before { 
margin-top:20px

  }
  .abl-tvsv {
 max-width:20%; width:fit-content; height:fit-content; background-color:#222;color:#f8f8f8; position: relative; float: right; font-weight:bold; border:1px solid #000;border-radius:24px 24px 24px 24px;text-align:left;margin-right:0px;margin-top:-16px; padding:4px; padding-left:10px;padding-right:10px; text-transform: uppercase;font-size: 9px; font-weight:bold;
}
  .abl-text {
  border-radius:8px 0px 8px 0px;text-align:left; padding:4px; padding-left:18px;padding-right:10px;border:1px solid #000;border-radius:0px 8px 0px 8px;font: 12px/15px "Karla";
  }
    .abl-bar {

background-color:#d8d8d8;font-weight:bold; position: relative; 
float: right; 
border:1px solid #000;
border-radius:0px 0px 8px 8px;
text-align:center; 
margin-top:-1px; 
padding:4px; 
padding-right:8px;
padding-left:8px;
justify-content: space-between;
font-size: 12px;
  }
 
.abl-container {
  color: #333;
font: 12px/15px "Karla";
  height: fit-content;
  text-align: justify;
margin-bottom:24px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  padding: 0px 0px;
  max-width: 440px;
}

.link-abl-container {
  color: #333;
font: 12px/15px "Karla";
  height: fit-content;
  text-align: justify;
margin-bottom:34px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  padding: 0px 0px;
  max-width: 440px;
}

.flex{
  display: flex;
  border: 0px solid red;
  &-child{
    background: green;
    border: 0px solid yellow;
    flex: 1;
  }
}


.flex--vertical{
  flex-direction: row;
  flex-wrap: wrap;

  > .flex-child{
    min-width: 100%;
    display:flex;
  }
}

.score-child {
    flex: 1;
    border:0px solid yellow;
    margin-bottom:0px;

} 


.str-bar {
    flex: 1;
    position: relative;
    border: 1px solid black;
    padding:-3px;
    margin:3px;
}  

.str-bar:after {
    content: '';
    position:absolute;
    background: #076F76;
    top: 0; bottom: 0;
    left: 0; 
}




.mag-bar {
    flex: 1;
    position: relative;
    border: 1px solid black;
    padding:-3px;
    margin:3px;
}  

.mag-bar:after{
    content: '';
    position: absolute;
    background: #076F76;
    top: 0; bottom: 0;
    left: 0; 
}

.def-bar {
    flex: 1;
    position: relative;
    border: 1px solid black;
    padding:-3px;
    margin:3px;
}  


.def-bar:after {
    content: '';
    position:absolute;
    background: #076F76;
    top: 0; bottom: 0;
    left: 0; 


}


.agl-bar {
    flex: 1;
    position: relative;
    border: 1px solid black;
    padding:-3px;
    margin:3px;
}  


.agl-bar:after {
    content: '';
    position:absolute;
    background: #076F76;
    top: 0; bottom: 0;
    left: 0; 


}

.stat-ans {
    border: 1px solid #d8d8d8;
    border-top-width: 4px;
    width: 350px;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: -4px;
  }

.stat-text {
    color: #333;
    height:150px;
    display:flex;
    column-gap: 20px;
    font: 15px "Karla";
  }


.feature-text {
    font: 15px "Karla";
    color: #333;
    border:0px solid green;
    height:150px;
    display:flex;
    column-gap: 20px;
margin-top:10px;
  }


.stat-child {
    flex: 1;
     border: 0px solid yellow;
margin-light:10px;

}  


.stat-child-2 {
flex:1;
}

.stat-text b{
padding-left:5px;

}

.feature-child {
     flex: 1;
     border: 0px solid yellow;
}

.feature-child b{
padding-left:10px;

}


.feature-child h3 {
 font-size: 16px;
 color: white;
 background-color: #222 !important;
 width:100%;
 border-bottom: 5px solid #076f76;
 margin: 0px 8px;
 margin-left: 0px;
 padding-top:8px;
 padding-bottom: 8px;
 margin-bottom: 8px;
 text-align: center;
}

.stat-text h3 {
 font-size: 18px;
 color: white;
 background-color: #222 !important;
 width:100%;
 border-bottom: 5px solid #076f76;
 margin: 0px 8px;
 margin-left: 0px;
 padding-top:10px;
 padding-bottom: 10px;
 margin-bottom: 10px;
 text-align: center;
}

.stat-text h4 {
 font-size: 18px;
 color: white;
 background-color: black;
 margin: 0px 8px;
 margin-left: 0px;
 padding-top:4px;
 padding-bottom: 4px;
 margin-top: 10px;
 margin-bottom: 10px;
 text-align: center;
}


.abilityDetailTabs {
 margin: 8px;
 margin-bottom: 0;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 gap: 2px;
 justify-content: center;
 align-items: center;
}
.abilityDetailTab {
 margin: 0;
 padding: 2px 4px;
 height: 25px;
 border-radius: 8px 8px 0px 0px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 11px;
 font-weight: 600;
 font-family: open-sans, sans-serif;
}
  

.my-name, .my-name-2 {
  font: 700 25px/25px "Orbitron";
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
background-color:#222;
  height: 25px;
  margin-left: 20px;
  margin-top: 20px;
margin-bottom:0px;
padding:8px;
width:fit-content;
border-radius: 8px 8px 8px 8px;
}
.my-name-2 {
  text-align: right;
}

.str-bar-sum {
flex: 1;
    position: relative;
    border: 1px solid black;
    padding:-3px;
padding-left:60px;
    margin:3px;

}  

.str-bar-sum:after{
    content: '';
    position: absolute;
    background: #076076;
    top: 0; bottom: 0;
    left: 0; 
}

.mag-bar-sum {
flex: 1;
    position: relative;
    border: 1px solid black;
    padding:-3px;
padding-left:60px;
    margin:3px;
}  

.mag-bar-sum:after{
    content: '';
    position: absolute;
    background: #076076;
    top: 0; bottom: 0;
    left: 0; 
}

.agl-bar-sum {
flex: 1;
    position: relative;
    border: 1px solid black;
    padding:-3px;
padding-left:60px;
    margin:3px;
}  

.agl-bar-sum:after{
    content: '';
    position: absolute;
    background: #076076;
    top: 0; bottom: 0;
    left: 0; 
}

.def-bar-sum {
flex: 1;
    position: relative;
    border: 1px solid black;
    padding:-3px;
padding-left:60px;
    margin:3px;

}  

.def-bar-sum:after{
    content: '';
    position: absolute;
    background: #076076;
    top: 0; bottom: 0;
    left: 0; 
}

.SummonTempContainer {
 width: 475px;
 min-height: 450px;
 border: 4px solid black;
 display: flex;
 background-color: #f4f4f4;
 padding-bottom: 12px;
 font-family: roboto, sans-serif;
}
.summonTabContainer {
 height: 100%;
 width: 50px;
}
.summonContentContainer {
 width: 425px;
}
.summonTitleContainer {
 width: 400px !important;
 height:320px;
padding:4px;
    display: flex;
    justify-content: space-between;
}


.summonNameHeader {
 height: 30px;
 color: #076F76;
 display: flex;
 justify-content: end;
font-weight:bold;
width:fit-content;
width:300px;
margin-left:112px;
 align-items: center;
text-align: center;
 padding-right: 8px;
 border-radius: 0px 0px 0px 8px;
 font-family: Orbitron, sans-serif;
 font-size: 20px;
 border-bottom: 4px solid #d8d8d8;
 border-left: 4px solid #d8d8d8;
}

.summonImage {
margin:8px;
width:200px;
height:300px;
border-radius: 8px 8px 8px 8px;
border: 5px double #d8d8d8;
}

.summonInfo {
vertical-align: text-top;
padding:8px;
width:150px;
display:inline-block;
height:200px;
}

.summon-info1, .summon-info2 {
  font: 15px/18px "montserrat alternates";
  text-transform: lowercase;
  color: #076f76;
  margin-left: 10px;
  margin-top: 10px;
  width: 150px;
}
  
.summon-ans {
  overflow: hidden;
  margin-top: 2px;
padding:2px;
  width: 130px;
  height:fit-content;
  border: 1px solid #d8d8d8;
  border-top-width: 4px;
  font: 13px/20px "Open Sans Condensed";
  padding: 1px 4px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
}


.summonTempHeader {
 background-color: #333;
 height: 30px;
 color: #ffffff;
 display: flex;
 justify-content: end;
font-weight:bold;
 align-items: center;
 padding-right: 8px;
 margin-left: 8px;
 border-radius: 0px 0px 0px 8px;
 font-family: Orbitron, sans-serif;
 font-size: 20px;
 border-bottom: 2px solid #333;
 border-left: 2px solid #333;
}

.inactiveTab {
 background-color: #d8d8d8;
 color: #076F76;
}
.activeTab {
 background-color: #076F76;
 color: #d8d8d8;
}
.summonTab {
 margin: 0;
 padding: auto;
 height: 50px;
 border-radius: 0px 8px 8px 0px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 24px;
 font-weight: 600;
 font-family: open-sans, sans-serif;
}
.summonDetailTabs {
 margin: 8px;
 margin-bottom: 0;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 gap: 2px;
 justify-content: center;
 align-items: center;
width:425px;
}
.summonDetailTab {
 margin: 2px;
 padding: 2px 4px;
 height: 25px;
 border-radius: 8px 8px 8px 8px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 11px;
 font-weight: 600;
 font-family: open-sans, sans-serif;
}
.summonContentPanel {
 padding: 16px 16px;
 display: none;
 border: 5px double #d8d8d8;
 border-radius: 8px 8px 8px 8px;
 min-height: 300px;
 margin: 8px 8px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-collapse: collapse;
}
.summonPanelStats {
 display: flex;
 flex-direction: row;
height:fit-content;
}
.summonStatSection {
 flex-grow: 1;
 text-align: left;
 padding-left: 8px;
}
.summonStatSection h3 {
 font-size: 18px;
 color: white;
 background-color: black;
 margin-bottom: 4px;
margin-top:0px !important;
 text-align: center;
padding: 0px 4px;
padding:8px;
}

.start {
 display: block;
}

.summonName {
 font-family: roboto, sans-serif;
 font-size: 20px;
 text-align: center;
height: fit-content;
padding:8px !important;
margin-top:8px;
margin-bottom:8px;
  text-transform: uppercase;
  color: #076f76;
 background-color: #d8d8d8;
 border: 2px solid black;
}
